<section class="bg-primary" id="about">
  <div class="container">
  
	<div class="row">
	  <div class="col-lg-6 col-md-6 text-center">
		<h2 class="section-heading text-white">We've got what you need!</h2>
		<hr class="light my-4">
		<p class="text-faded mb-4">We offer short course classes to undergraduate students and young IT professionals. Our fundamentals classes kick off the career path and specialised classes address key milestones when needed!</p>
		<a class="btn btn-light btn-xl js-scroll-trigger sr-button" href="#portfolio">Learn More</a>
	  </div>
	  <div class="col-lg-6 col-md-6 text-center">
	  	<h2 class="section-heading text-white">Developer Articles</h2>
		<hr class="light my-4">
		<p class="text-faded mb-4">Read about new fundamental knowledge articles on the latest updates on Swift!  Learn to use and write Swift in your projects with mini-articles to help you get started.</p>
		<a class="btn btn-light btn-xl js-scroll-trigger sr-button" href="{{ "/blog/" | absolute_url }} ">Read More</a>
	  </div>
	</div>
  </div>
</section>
