<!-- Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="close-modal" data-dismiss="modal">
		<div class="lr">
		  <div class="rl"></div>
		</div>
	  </div>
	  <div class="container">
		<div class="row">
		  <div class="col-lg-8 mx-auto">
			<div class="modal-body">
			  <!-- Project Details Go Here -->
			  <h2 class="text-uppercase">Team Training</h2>
			  <p class="item-intro text-muted">For companies jumpstarting their mobile teams.</p>
			  <img class="img-fluid d-block mx-auto" src="img/portfolio/fullsize/1.jpg" alt="">
			  <p>Need to train your team as quickly as possible? The Beagleworx Labs team training program is a perfect fit.</p>
			  <p>Our instructors are development and design experts.  You provide the space, and we’ll bring the training straight to your door.</p>
			  <img class="img-fluid d-block mx-auto" src="img/portfolio/fullsize/1_b.jpg" alt="">
			  <button class="btn btn-primary" data-dismiss="modal" type="button">
				<i class="fa fa-times"></i>
				Close</button>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</div>
<!-- Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="close-modal" data-dismiss="modal">
		<div class="lr">
		  <div class="rl"></div>
		</div>
	  </div>
	  <div class="container">
		<div class="row">
		  <div class="col-lg-10 mx-auto">
			<div class="modal-body">
			  <!-- Project Details Go Here -->
			  <h2 class="text-uppercase">Bootcamps</h2>
			  <div class="row">
				<div class="col-sm-6">
				  <img class="img-fluid d-block mx-auto" src="img/portfolio/fullsize/2.jpg" alt="">
				  <p class="item-intro text-muted">App Development Training for Individuals</p>
				  <p class="col-lg-10 mx-auto">Beagleworx Labs offers training sets for individuals.  You’ll be able to learn new skills and improve your career at your convenience.  Contact us to discuss your training schedule options.</p>
				</div>
				<div class="col-sm-6">
				  <img class="img-fluid d-block mx-auto" src="img/portfolio/fullsize/2_b.jpg" alt="">
				  <p class="item-intro text-muted">App Development Training for Groups</p>
				  <p class="col-lg-10 mx-auto">Group trainings offers a collaborative culture.  Learn and share ideas with your instructor, and your classmates.  Beagleworx Labs offers modules for group class.</p>
				  <p class="col-lg-10 mx-auto">Sign up for a class and get notified when it becomes available for a group.</p>
				</div>
			  </div>
			  <button class="btn btn-primary" data-dismiss="modal" type="button">
				<i class="fa fa-times"></i>
				Close</button>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</div>
<!-- Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="close-modal" data-dismiss="modal">
		<div class="lr">
		  <div class="rl"></div>
		</div>
	  </div>
	  <div class="container">
		<div class="row">
		  <div class="col-lg-10 mx-auto">
			<div class="modal-body">
			  <!-- Project Details Go Here -->
				<div class="row">
				  <div class="col-lg-12 text-center">
					<h2 class="section-heading text-uppercase">Our Trainor</h2>
					<h3 class="section-subheading text-muted">We teach others to build great apps.  With over 10 years experience in the software industry and more than 7 years of mobile development work we help students discover professional development opportunities.</h3>
				  </div>
				</div>
				<div class="row">
				  <div class="col-sm-4 mx-auto">
					<div class="team-member">
					  <img class="mx-auto rounded-circle" src="img/team/1.jpg" alt="">
					  <h4>Rolly Ceballos</h4>
					  <p class="text-muted">Training Director</p>
					  <ul class="list-inline social-buttons">
						<li class="list-inline-item">
						  <a href="https://www.instagram.com/beagleworxlabs">
							<i class="fa fa-instagram"></i>
						  </a>
						</li>
						<li class="list-inline-item">
						  <a href="https://www.linkedin.com/in/rollyceballos">
							<i class="fa fa-linkedin"></i>
						  </a>
						</li>
					  </ul>
					</div>
				  </div>
				</div>
			  <button class="btn btn-primary" data-dismiss="modal" type="button">
				<i class="fa fa-times"></i>
				Close</button>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</div>