    <!-- Portfolio Grid -->
    <section class="bg-dark" id="portfolio">
      <div class="container">

        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-group fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/thumbnails/1.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <div class="project-category">Team Training</div>
              <div class="text-muted">For companies</div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-free-code-camp fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <div class="project-category">Bootcamps</div>
              <div class="text-muted">For individuals and groups</div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-cogs fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <div class="project-category">Our Work</div>
              <div class="text-muted">Who We Are</div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-white text-uppercase">We design and build exceptional apps.</h2>
            <h3 class="section-subheading text-muted">And teach others to do the same.</h3>
			<a class="btn btn-primary btn-xl sr-button" href="https://beagleworxlabs.typeform.com/to/IICEYH">Sign Up Now!</a>
          </div>
        </div>
      </div>
    </section>
