<section id="services">
  <div class="container">
	<div class="row">
	  <div class="col-lg-12 text-center">
		<h2 class="section-heading">At Your Service</h2>
		<hr class="my-4">
	  </div>
	</div>
  </div>
  <div class="container">
	<div class="row">
	  <div class="col-lg-3 col-md-6 text-center">
		<div class="service-box mt-5 mx-auto">
		  <i class="fa fa-4x fa-apple text-primary mb-3 sr-icons"></i>
		  <h3 class="mb-3">Best Practice</h3>
		  <p class="text-muted mb-0">Our bootcamp classes are based on Apple curriculum outlines so you're not missing anything.</p>
		</div>
	  </div>
	  <div class="col-lg-3 col-md-6 text-center">
		<div class="service-box mt-5 mx-auto">
		  <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
		  <h3 class="mb-3">Swift 4 ready</h3>
		  <p class="text-muted mb-0">The latest and greatest.</p>
		</div>
	  </div>
	  <div class="col-lg-3 col-md-6 text-center">
		<div class="service-box mt-5 mx-auto">
		  <i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
		  <h3 class="mb-3">Up to Date</h3>
		  <p class="text-muted mb-0">We update our lecture books to keep things fresh.</p>
		</div>
	  </div>
	  <div class="col-lg-3 col-md-6 text-center">
		<div class="service-box mt-5 mx-auto">
		  <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
		  <h3 class="mb-3">Made with Love</h3>
		  <p class="text-muted mb-0">We love to teach others how to make great apps.</p>
		</div>
	  </div>
	</div>
  </div>
</section>
