<!DOCTYPE HTML>
<html lang="en">
	<head>
    {% include blog/head.html %}

	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Header -->
				<header id="header">
					<a href="{{ "/blog" | absolute_url }}" class="logo">{{site.blogtitle}}</a>
				</header>


				<!-- Nav -->
					<nav id="nav">

            {% include blog/nav.html %}
						
					</nav>

				<!-- Main -->
				<div id="main">

          <article class="post featured">
            <header class="major">
              <h2><a href="#">Tech Blog Articles</a></h2>
              <p>Every few months new technology and techniques get published.  I keep this blog filled with thoughts on new things that has value for every developer's toolbox - more so with ideas encountered in real life projects.</p>
            </header>
						<p>
							This section of articles will be a work in progress, and this cover will evolve as more and more work is added to introducing the Swift language and mobile development to the readers. 
						<p>
						</p>
						</p>

          </article>
					<!-- Post -->
					<section class="posts">
						{% for post in site.posts %}
						{% assign mod3 = forloop.index | modulo: 3 %}
							<article>
								<header>
									<span class="date">{{ post.date | date_to_string }}</span>
									<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
									{% for category in post.categories %}
										<a href="#" class="button solid primary small">{{ category }}</a>
									{% endfor %}
								</header>
								<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
								<p>{{ post.excerpt }}</p>
								<ul class="actions">
									<li><a href="{{ post.url | absolute_url }}" class="button">Read More</a></li>
								</ul>
							</article>
						{% endfor %}

					</section>

					</div>

				<!-- Footer -->
        {% include blog/foot.html %}

			</div>

			<!-- Scripts -->
			{% include blog/scripts-main.html %}
			{% include blog/tracking.html %}

	</body>
</html>
